@import '../../styles/variables.scss';

.e-menu {
  button {
    width: 250px;
    height: 50px;
    padding: 0 10px;
    font-size: 18px;
    @include hoverable(#dfdfdf);
    svg {
      position: absolute;
      right: 25px;
    }
  }
  &__nested {
    overflow:hidden;
    @include basic-transition;
    height: auto;
    &.collapsed {
      max-height: 0;
    }
  }
}

.e-item {
  button {
    @include hoverable(#dfdfdf);
    width: 250px;
    height: auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  span.highlighted {
    font-weight: bold;
  }
}