@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Cinzel');

.topbar {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  top: 0;
  background-color: white;
  z-index: 3458;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100vw;
  position: fixed;
  @include basic-transition;
  &.hidden{
    @include basic-transform(translateY(-75px));
  }
  &__side {
    @include hoverable(#dfdfdf);
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 250px;
    height: 75px;
    &.left {
      left: 0;
    }
  }
  &__center {
    h2 {
      position: relative;
      font-size: 28px;
      font-weight: normal;
      margin-right: -265px;
      > a {
        font-family: 'Cinzel';
        opacity: 1 !important;
      }
      > a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: black;
        visibility: hidden;
        @include basic-transform(scaleX(0));
        @include basic-transition;
      }
      > a:hover:after {
        visibility: visible;
        @include basic-transform(scaleX(1));
      }
    }
  }
  &__quick-links {
    position: absolute;
    right: 15px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    @include hoverable(#dfdfdf);
    height: 75px;
    width: 75px;
    svg {
      @include basic-transform(scale(2));
    }
  }
}