@import '../../styles/variables.scss';

.topbar {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  &__side {
    @include hoverable(#dfdfdf);
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 250px;
    height: 75px;
    &.left {
      left: 0;
    }
    &.right {
      left: calc(100vw - 265px); // 15 (scrollbar) + 250 (sidemenu width)
    }
  }
  &__center {
    h2 {
      position: relative;
      font-size: 32px;
      font-weight: normal;
      > a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: .25s linear;
      }
      > a:hover:after,
      > a:focus:after {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
  &__quick-links {
    position: absolute;
    right: 265px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    @include hoverable(#dfdfdf);
    height: 75px;
    width: 75px;
    svg {
      transform: scale(2);
    }
  }
}