$purple-100: #E1BEE7;
$purple-200: #CE93D8;

$greyscale-29: #292929;

$title-fontsize: 32px;
$menu-header-fontsize: 18px;
$menu-subheader-fontsize: 14px;
$menu-entry-fontsize: 10px;

$brown50: #efebe9;
$brown100: #d7ccc8;
$brown200: #bcaaa4;
$brown800: #4e342e;
$brown900: #3e2723;

$main-color: white;
$hover-color: #dfdfdf;
$dark-background: #212121;

@mixin hoverable($color) {
  &:hover {
    cursor: pointer;
    background-color: $color;
  }
  @include basic-transition;
}

@mixin basic-transition($time: 0.3s) {
  transition: $time;
  -o-transition: $time;
  -moz-transition: $time;
  -webkit-transition: $time;
}

@mixin basic-transform($action) {
  transform: $action;
  -moz-transform: $action;
  -webkit-transform: $action;
  -o-transform: $action;
  -ms-transform: $action;
}
