@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:Regular');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400');

.main.dark {
  .main-content__center, .inline-code-highlight {
    background-color: black;
  }
  .main-content__left, button, .main-content__right, .topbar, Link, .toggle-ubar {
    background-color: $dark-background;
  }
  a, h2, h3, h4, span, p, ul, Link, .topbar, dt, dd {
    color: white;
  }
  a, h1, h2, h3, h4, span, p, ul, Link, dt, dd {
    opacity: 0.75;
  }
  code > span {
    opacity: 1;
  }
  button[type="button"] {
    @include hoverable(#4c4f44);
  }
  .page__solution {
    .description, .results, .helpers {
      background-color: $dark-background;
    }
  }
  .page__utility {
    .description {
      background-color: $dark-background;
    }
  }
  .container, pre, .modal-content {
    background-color: #1d1f21 !important;
  }
  img {
    filter: invert(100%)
  }
  .utilities-hub__list .file-section {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .topbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    h2 > a:after {
      background: white;
    }
    &__side {
      @include hoverable(#4c4f44);
    }
  }
  .tooltip-container {
    .tooltip-icon {
      svg {
        filter: invert(100%);
      }
    }
    .tooltip-message {
      background: $dark-background;
      code {
        color: #678196;
      }
      border: 1px solid white;
    }
  }
  svg {
    filter: invert(100%);
  }
  .home section > h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.main {
  .page__solution > div {
    padding: 20px 20px 20px 35px;
  }
  .page__utility > div {
    padding: 20px 20px 20px 35px;
  }
}

.main-content {
  display: flex;
  justify-content: flex-start;
  &__left, &__right {
    position: fixed;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    z-index: 1729;
    background-color: $main-color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
    scrollbar-width: none;
    @include basic-transition;
  }
  &__left {
    left: 0;
  }
  &__right {
    right: 0;
    &.hidden {
      @include basic-transform(translateX(250px));
    }
  }
  &__center {
    margin: auto;
    margin-bottom: 0;
    margin-top: 75px;
    width: calc(100vw - 600px);
    height: calc(100vh - 75px);
    max-width: 1000px;
    @include basic-transition;
  }
}

.toggle-ubar {
  position: fixed;
  right: 250px;
  width: 30px;
  height: 80px;
  top: calc(50vh - 25px);
  background: $main-color;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  border-radius: 25px 0 0 25px;
  box-shadow: -2px 0 1px -1px rgba(0, 0, 0, 0.2);
  z-index: 1730;
  @include basic-transition;
  &.hidden {
    @include basic-transform(translateX(250px));
    svg {
      @include basic-transform(rotate(180deg) scale(2, 4));
    }
  }
  svg {
    @include basic-transform(scale(2, 4));
  }
}

body {
  background-color: white;
  overflow-y: scroll;
  @include basic-transition;
}

button {
  border: none;
  outline: none;
  background-color: $main-color;
}

a, button {
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, dt, dd {
  font-family: "Noto Serif JP", Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

code {
  font-family: "Fira code", "Fira Mono", monospace !important;
  font-variant-ligatures: common-ligatures !important;
  line-height: 1.3em;
  letter-spacing: -0.5px;
  font-size: 16px;
}

dd {
  margin-left: 10px;
}

dt {
  margin: 15px 0 5px;
}

img {
  max-width: 75%;
}

pre {
  background: $main-color !important;
}