.e-sidebar{
  .sidebar-header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    .e-item {
      button {
        font-size: 18px !important;
        height: 75px;
      }
    }
  }
}

.u-sidebar {
  .utilitybar-header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    .e-item {
      button {
        font-size: 18px !important;
        height: 75px;
      }
    }
  }
}
