.e-sidebar{
  .sidebar-header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .e-item {
      button {
        font-size: 18px !important;
        height: 75px;
      }
    }
  }
}