@import '../../styles/variables.scss';

.tooltip-container {
  .tooltip-icon {
    margin-left: 15px;
    margin-top: 5px;
    @include basic-transform(scale(1.25));
    .tooltip-message {
      visibility: hidden;
      position: absolute;
      width: auto;
      height: auto;
      padding: 10px;
      border: 1px solid black;
      border-radius: 10px;
      bottom: 30px;
      background: white;
      font-family: "Overpass", Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
      font-size: 12px;
      &.hovered {
        visibility: visible;
        z-index: 9999;
      }
      code {
        color: #A626A4;
        font-size: 12px;
      }
    }
  }
}